<div class="card bg-light mb-3">
  <div class="card-header">
    <h3>Add Task</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title mb-3">Enter task details below.</h5>

    <form [formGroup]="addTaskForm" (ngSubmit)="submitForm()">

      <div class="form-group row">
        <label for="title" class="col-2 col-form-label">Title:</label>
        <div class="col-10">
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Due Date:</label>
        <div class="col-10">
          <input type="text"
                 class="form-control"
                 bsDatepicker
                 [bsConfig]="{ isAnimated: true }"
                 formControlName="dueDate">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Description:</label>
        <div class="col-10">
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
      </div>

      <button class="btn btn-primary btn-dark mt-3 mb-3 form-control" type="submit" [disabled]="!addTaskForm.valid">Add Task</button>

    </form>
  </div>
</div>

<a class="btn btn-primary btn-dark mb-3 mt-3 form-control" [routerLink]="['/home']">Home Page</a>
