<div class="card bg-light mb-3">
  <div class="card-header">
    <h3>View Task</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title mb-3">{{task.title}}</h5>

    <form [formGroup]="addTaskForm" (ngSubmit)="submitForm()">

      <div class="form-group row">
        <label for="title" class="col-2 col-form-label">Title:</label>
        <div class="col-10">
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Due Date:</label>
        <div class="col-10">
          <input type="text"
                 class="form-control"
                 bsDatepicker
                 [bsConfig]="{ isAnimated: true,  dateInputFormat: 'DD-MM-YYYY' }"
                 formControlName="dueDate">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Description:</label>
        <div class="col-10">
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
      </div>

      <div class="form-group row">
        <label for="last-updated" class="col-2 col-form-label">Last Updated:</label>
        <div class="col-10">
          <input type="text" class="form-control" id="last-updated" formControlName="lastUpdated">
        </div>
      </div>

      <button *ngIf="!task.isCompleted && !hideEdit" class="btn btn-primary btn-dark mt-3 form-control" (click)="enableForm()">Edit Task</button>

      <button *ngIf="!task.isCompleted && hideEdit" class="btn btn-primary btn-dark mt-3 form-control" (click)="disableForm()">Cancel Edit</button>

      <br *ngIf="!task.isCompleted && hideEdit" />

      <button *ngIf="editTask" class="btn btn-primary btn-dark mt-3 form-control" type="submit" [disabled]="!addTaskForm.valid">Submit Edited Task</button>

    </form>
  </div>
</div>

<a class="btn btn-primary btn-dark mt-3 mb-3 form-control" [routerLink]="['/home']">Home Page</a>

