<nav class="bg-light pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-3">

          </div>
          <div class="col-6 text-center">
            <h3>ToDo List</h3>
          </div>
          <div class="col-3" (click)="logout()" style="cursor: pointer;" *ngIf="showLogout">
            <h5 style="display: inline; padding-right: 10px; vertical-align: super;">Logout</h5><fa-icon [icon]="faSignOutAlt" size="2x"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
