<footer id="sticky-footer" class="bg-light pt-2 pb-2 footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-4">

          </div>
          <div class="col-4 text-center">
          </div>
          <div class="col-4 text-center">
            <b>&copy; Craig O'Toole 2019</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
