<div class="card mb-3 text-center">
  <div class="card-header">
    <div class="row">
      <div class="col-3">

      </div>
      <div class="col-6">
        <h3>Active Tasks</h3>
      </div>
      <div class="col-3" (click)="addTask()" style="cursor: pointer;">
        <h3 style="display: inline; padding-right: 10px;">Add Task </h3><fa-icon [icon]="faPlus" size="2x"></fa-icon>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div *ngFor="let item of activeTasks; let i = index">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6">
                  <h5 class="card-title mb-3">{{item.title}}</h5>
                </div>
                <div class="col-3" (click)="deleteTask(item)" style="cursor: pointer;">
                  <h5 style="display: inline; padding-right: 10px; vertical-align: super;">Delete Task </h5><fa-icon [icon]="faTimesCircle" size="2x"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row"  (click)="viewTask(item)" style="cursor: pointer;">
            <div class="col-12">
              <p>{{item.description}}</p>
            </div>
            <div class="col-6">
              <p>Task to be completed by: <b>{{item.dueDate | date: 'dd/MM/yyyy HH:mm:ss'}}</b></p>
            </div>
            <div class="col-6">
              <p>Task last updated on: <b>{{item.lastUpdated | date: 'dd/MM/yyyy HH:mm:ss'}}</b></p>
            </div>
          </div>
          <hr />
          <button class="btn btn-primary btn-dark mt-3 form-control" (click)="completeTask(item)">Complete Task</button>
        </div>
      </div>
    </div>

    <h5 *ngIf="activeTasks.length == 0">No active tasks available.</h5>

  </div>
</div>

<div class="card mb-3 text-center">
  <div class="card-header">
    <h3>Completed Tasks</h3>
  </div>
  <div class="card-body">

    <div *ngFor="let item of completedTasks; let i = index">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6">
                  <h5 class="card-title mb-3">{{item.title}}</h5>
                </div>
                <div class="col-3" (click)="deleteTask(item)" style="cursor: pointer;">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row"  (click)="viewTask(item)" style="cursor: pointer;">
            <div class="col-12">
              <p>{{item.description}}</p>
            </div>
            <div class="col-6">
              <p>Task to be completed by: <b>{{item.dueDate | date: 'dd/MM/yyyy HH:mm:ss'}}</b></p>
            </div>
            <div class="col-6">
              <p>Task last updated on: <b>{{item.lastUpdated | date: 'dd/MM/yyyy HH:mm:ss'}}</b></p>
            </div>
          </div>
          <hr />
          <button class="btn btn-primary btn-dark mt-3 form-control" (click)="reactiveTask(item)">Activate Task</button>
        </div>
      </div>
    </div>

    <h5 *ngIf="completedTasks.length == 0">No completed tasks found.</h5>

  </div>
</div>
