<div class="card bg-light mb-3">
  <div class="card-header">
    <h3>Login</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title mb-3">Enter your details below.</h5>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">

      <div class="form-group row">
        <label for="username" class="col-2 col-form-label">Name:</label>
        <div class="col-10">
          <input type="text" class="form-control" id="username" formControlName="username">
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-2 col-form-label">Password:</label>
        <div class="col-10">
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
      </div>

      <button class="btn btn-primary btn-dark mt-3 form-control" type="submit" [disabled]="!loginForm.valid">Login</button>

    </form>
  </div>
</div>
